.custom-button {
  border: none;
  outline: none;
  padding: 0;
  width: 150px;
  margin-top: 5rem;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  svg {
    height: 50px;
    width: 150px;
    fill: none;
    stroke-width: 5;

    .poly1 {
      stroke: rgba(#befbff, 0.7);
      fill: rgba(#008793, 0.7);
      transition: all 0.7s ease-in-out;
    }

    .poly2 {
      stroke: #008793;
      stroke-dasharray: 15 420;
      stroke-dashoffset: 15;
      transition: all 0.7s ease-in-out;
    }
  }

  span {
    position: absolute;
    margin: auto 0;
    letter-spacing: 3px;
  }

  &:hover {
    color: #324b4e;

    .poly1 {
      fill: rgba(#befbff, 0.9);
    }

    .poly2 {
      stroke-dashoffset: -420;
    }
  }
}
