.face-detection {
  position: relative;

  &__image {
    width: 500px;
    height: auto;
  }

  &__face-box {
    position: absolute;
    border: 3px solid;
    border-image-source: linear-gradient(
      to left bottom,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12
    );
    border-image-slice: 1;
  }
}
