.sign-in {
  display: flex;
  flex-direction: column;
  width: 30rem;

  &__form {
    margin-top: 4rem;
  }

  p {
    font-size: 1.6rem;
    font-style: italic;
    // color: #eee8a9;
    color: #BEFBFF;
  }

  &__anonymous {
    cursor: pointer;
    text-decoration: underline;
  }
}
