.input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  margin: 0 auto 2rem;
  border-radius: 2px;
  padding: 1.4rem 0 1.6rem;
  background: rgba(0, 77, 122, 0.5);

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 0.4rem;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(
      to left,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12,
      #00bf72,
      #008793,
      #004d7a,
    );
    background-size: 500% auto;
    -webkit-animation: gradient 5s linear infinite;
    animation: gradient 5s linear infinite;
  }

  &__field {
    flex-grow: 1;
    vertical-align: middle;
    background: transparent;
    color: #F5F9FF;
    font-size: 1.8rem;
    line-height: 2.4rem;
    border: none;
    outline: none;
    padding-left: 2rem;

    &::-webkit-input-placeholder {
      color: #A7AABD;
    }

    &::-moz-placeholder {
      color: #A7AABD;
    }

    &:-ms-input-placeholder {
      color: #A7AABD;
    }

    &::-ms-input-placeholder {
      color: #A7AABD;
    }

    &::placeholder {
      color: #A7AABD;
    }
  }
}
